[submodule "configuration"]
	path = configuration
	url = http://192.168.3.139/olife-universe/configuration.git
[submodule "track-screen"]
	path = track-screen
	url = http://192.168.3.139/olife-universe/track-screen.git
